In [2]:
#Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [4]:
say_hello()

Hello!

In [5]:
#Define the function "say_something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [6]:
# Call the function
say_something("Hello World")

Hello World

In [8]:
Jane_says= "Hi, my name is Jane.  I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane.  I'm learning Python!

In [9]:
#Define a funtion t hat calculates the percentage of students fthat passed both match and reading and prints the passing percentage to the output when
#function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count/float(student_count)*100

In [10]:
passing_math_count=29370
total_student_count=39170

In [11]:
#call the funtion
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [13]:
# A list of my grades.
my_grades=['B', 'C', 'B','D']

In [14]:
#import pandas.
import pandas as pd
#convert the my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [15]:
#change the grades by one letter grade.
my_grades.map({'B':'A','C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [16]:
# Using the format() function.
my_grades=[92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
# Convert the numberical grades to a series.
my_grades = pd.series([92.34, 84.56, 86.78,78.32])
my_grades

AttributeError: module 'pandas' has no attribute 'series'